@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
}

.App {
  background-color: #f8f9fa;
}

.content {
  max-width: 992px;
  background-color: #F8F9FA;
  /* margin: 40px auto;
  padding: 20px; */
}
