.css-no-border{
    border: none;
}
.css-no-border li{
    border: none;
    background-color: #F8F9FA;
}
.css-customer-list-item{
    background-color: rgb(255, 255, 255);
}
.css-customer-list-item span{
    text-align: start;
}