@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
}

.App {
  width: 100%;
  height: 100%;
  background-color: #F8F9FA;
}

.content {
  margin: auto;
  /* width: 992px;
  height: 992px; */
  max-width: 992px;
  background-color: #F8F9FA;
  /* margin: 40px auto;
  padding: 20px; */
}

/* basic styling for list items on main customer, invoices and proposals pages */
/* .css-no-border{
  border: none;
} */
.css-no-border li{
  border: none;
  background-color: #F8F9FA;
}
.css-list-item:hover {
  /* transform: scale(1.05); */
	transition: 0.2s ease;
    /* text-decoration: underline ; */
    border: solid rgb(124, 124, 124) 1px;
    border-radius: 5px;
    filter: drop-shadow(0px 5px 5px rgba(110, 127, 163, 0.432));
}