/*/* Below neccessery in index.js file */
/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
import 'bootstrap/dist/css/bootstrap.min.css';
import '../node_modules/bootstrap-icons/font/bootstrap-icons.css';
import './navbar.css'; */

.navbar {
    padding: 20px;
    width: 75vw;
    height: 135px;
    max-width: 1200px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 5%;
    /* background: radial-gradient(#0D6EFD, #CFE2FF); */
    background: radial-gradient(ellipse at center, #71a9fd, transparent),
            radial-gradient(ellipse at bottom , #0051ff, transparent),
            radial-gradient(ellipse at top , #80b1fa, transparent);
    /* background: linear-gradient(180deg,#0D6EFD, #CFE2FF, 800%); */
    filter: drop-shadow(0px 8px 8px rgb(139, 139, 139));
    background-color: rgb(13,110,253, .75);
    border-radius: 16px;
    z-index: 100;
}

.css-navbtn {
    position: relative;
    background-color: rgb(255, 255, 255);
    margin: 0px 32px 0px 32px;

}

.css-navbtn:hover{
	transform: scale(1.10);
	transition: 0.2s ease;
    text-decoration: underline;
    border: solid black 1px;
    border-radius: 10px;
    filter: drop-shadow(0px 5px 5px rgb(40, 82, 172));
}

.css-navbtn-icon{
    font-size: 32px;
    color: rgb(13,110,253);
    transform: scale(1.35)
}

.cc-nav-text {
    font-weight: 500;
    padding-bottom: 2px;
}