
.css-proposal-list-item{
    background-color: rgb(255, 255, 255);
}
.css-proposal-list-item span{
    text-align: start;
}

.css-proposal-btn-group .bi-telephone {
    height: 38px;
}

.css-proposal-btn-group .bi-chevron-down {
    margin-left: 8px;
    margin-right: -8px;
    /* border: solid black 1px;
    border-radius: 16px;
    border-style: ; */
}

.css-proposal-list-item .bi-geo-alt {
    color: #0D6EFD;

}